@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Outfit:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Baskervville&family=Lato:wght@400;700&family=Outfit:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

li,
a,
button {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #707070;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(1rem);
}

.logo {
  max-width: 4rem;
  cursor: pointer;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 56rem;
  margin: 0 auto;
  padding: 2rem;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 1rem;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #000000;
}

button {
  margin-left: 40px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgb(255, 255, 255);
}

.portrait {
  margin-top: auto;
}

.body {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

.hero {
}

hr {
  max-width: 50%;
  margin: 0.75rem auto;
}

.text-wrapper {
  padding: 1rem;
}

.text-wrapper h1 {
  font-family: "baskervville", sans-serif;
  font-size: 70px;
  color: #707070;
}

.text-wrapper h2 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 27px;
  color: #707070;
}

.img-with-text {
  margin: 1rem 0;
  display: grid;
  text-align: center;
  font-family: "Lato", sans-serif;
  background-color: rgb(255, 255, 254);
}

.img-with-text img {
  display: block;
  margin: 0 auto;
  padding: 0.5rem;
}

.intro-paragraph {
  font-family: "baskervville", sans-serif;
  color: #707070;
  font-size: 21px;
  line-height: 37px;
}

.about {
  margin: 2rem 0;
  display: grid;
  gap: 1rem;
}

.cards {
  margin: 0 auto;
  max-width: 1135px;
  display: grid;
  gap: 2rem;
  font-family: "baskervville", sans-serif;
  color: #707070;
}

.card {
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.16);
  padding: 1rem;
  border-radius: 1rem;
}

.card img {
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.nav-links {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #000000;
}

footer {
  padding: 1rem;
  background-color: #cccccc;
  font-family: "Lato", sans-serif;
  font-size: small;
  text-align: center;
}

.footer-text {
  background-color: #cccccc;
  text-align: center;
}

.dth-profile {
  background-color: #cccccc;
  text-align: center;
}

.footer-div {
  background-color: #cccccc;
}

.wtennis-page-title {
  font-family: "baskervville", sans-serif;
  color: #707070;
  font-size: 50px;
  margin-left: 20%;
  font-weight: 600;
  background-color: rgb(255, 255, 254);
  padding-bottom: 1rem;
}

.hero-pagetwo-coverimage {
  margin-top: auto;
  margin-left: 20%;
  margin-right: 20%;
}

.text-wrapper-wtennisteam {
  font-family: "lato", sans-serif;
  color: #707070;
  font-size: 19px;
  padding-bottom: 3rem;
}

.quote-section {
  background-color: #d1cdc8;
  font-family: "baskervville", sans-serif;
  color: #707070;
  font-size: 50px;
}

.background {
  margin-left: 20%;
  margin-right: 20%;
}

.quote {
  background-color: #d1cdc8;
}

.kalbas-article {
  padding-top: 6rem;
  font-family: "baskervville", sans-serif;
  color: #707070;
  margin-left: 20%;
  margin-right: 20%;
}

.headline {
  font-size: 40px;
  line-height: 70px;
  padding-bottom: 3rem;
}

.article {
  font-size: 21px;
  line-height: 47px;
  padding-bottom: 3rem;
}

.tennisball-img {
  width: 20rem;
  align-items: center;
  margin-left: 20%;
  padding-bottom: 3rem;
}

.hero-pagethree-coverimage {
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 1 rem;
}

.intro-men {
  font-family: "baskervville", sans-serif;
  color: #707070;
  font-size: 21px;
  line-height: 47px;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 6rem;
}

.videotennis {
  font-family: "lato", sans-serif;
  color: #707070;
  font-size: 19px;
  margin-left: 20%;
  margin-right: 20%;
}

.videocaption {
}

.qanda-page-title {
  font-family: "baskervville", sans-serif;
  color: #707070;
  font-size: 50px;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 8rem;
}

.questions {
  font-weight: 1000;
}

.qanda-div {
  font-family: "baskervville", sans-serif;
  color: #707070;
  line-height: 48px;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 3rem;
}

#responsive-logo {
  display: hidden;
  width: 48px;
  height: 48px;
  background-size: 37px;
}

@media screen and (max-width: 47.9375rem) {
  * {
    margin: 0cm;
  }

  .portrait {
    aspect-ratio: 3 / 4;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-with-text {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
  }

  #responsive-logo {
    display: inline-block;
    background: #ffffff;
    border: 1px solid grey;
    border-radius: 5px;
  }

  nav,
  ul,
  nav:active ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav:hover ul {
    display: block;
    float: left;
    width: 200px;
    height: 40px;
    font-size: 20px;
  }

  nav li {
    text-align: center;
    width: 100%;
  }

  nav li a {
    text-align: center;
    display: inline-block;
  }
  .wtennis-page-title {
    margin-left: 3%;
    margin-right: 3%;
  }
  .hero-pagetwo-coverimage {
    margin-left: 0;
    margin-right: 0;
  }
  .quote {
    background-color: #d1cdc8;
    font-size: smaller;
  }
  .kalbas-article {
    margin-left: 3%;
    margin-right: 3%;
  }
  .hero-pagethree-coverimage {
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 1rem;
  }

  .intro-men {
    margin-left: 3%;
    margin-right: 3%;
  }

  .videotennis {
    margin-left: 0%;
    margin-right: 0%;
  }

  .qanda-page-title {
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 2rem;
  }
  .qanda-div {
    font-family: "baskervville", sans-serif;
    color: #707070;
    line-height: 48px;
    margin-left: 3%;
    margin-right: 3%;
  }

  body {
    margin: 0;
    overflow: hidden;
  }

  #menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 1rem;
    list-style-type: none;
    transform: translateX(100%);
    transition: all 300ms;
    min-height: 100vh;
  }

  #menu:target {
    transform: translateX(0);
  }
}

@media (min-width: 48rem) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .about {
    grid-template-columns: 2fr 1fr;
    align-items: flex-start;
  }
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
