@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Outfit:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

li,
a,
button {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #707070;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
